{% extends "layout.html" %}


{% block body %}
<h1>Info of the book you entered:</h1> 
<ul>
    <li>The isbn is: {{isbn}}</li>
    <li>The author is: {{author}}</li>
    <li>The title is {{title}}</li>
    <li>The year is {{year}}</li>
</ul>
<div>Data from Goodreads:</div>
<ul>
    <li>Number of ratings: {{work_ratings_count}}</li>
    <li>Average rating is {{average_rating}}</li>
</ul>
<!-- <fieldset class="rating">
    <legend>Please rate:</legend>
    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
</fieldset> -->

<!--Make this communicate with the database! :0 -->
<div class="rate">
    <input type="radio" id="star5" name="rate" value="5" /><label for="star5" title="This was Awesome!">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" /><label for="star4" title="This was pretty good!">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" /><label for="star3" title="This was okay!">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" /><label for="star2" title="Ehm, well, I've read better books">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" /><label for="star1" title="I hated this">1 star</label>
</div>
{% endblock %}
